// $arrow-position: 13.5rem;
$arrow-position: 35%;
$arrow-height: 7.5rem !important;

.slider {
  @include centerFlex;
  position: relative;


  &__photo {
    opacity: 0;
  }

  .active {
    opacity: 1;
    transition: opacity .75s ease-in;
  }

  &__arrow {
    position: absolute;
    height: $arrow-height;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  &__la {
    right: $arrow-position;
  }

  &__ra {
    left: $arrow-position;
  }
}