*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;

  @include respond(tab-max) {
    // both remove scroll bar 
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  overflow-x: hidden;
}

body::-webkit-scrollbar {
  @include respond(tab-max) {

    // removes scroll bar
    display: none;
  }
}