$green-main: #013a20;
$olive-main: #536f16;
$olive-secondary: #3f4122;
$olive-tertiary: #303119;
$sage-main: #d1e2c4;
$sage-secondary: #a1af97;
$pewter-main:#d5d6cf;
$pewter-secondary:#898a84;
$dark-main: #222;
$black: #000;