.about {
  @include centerFlex;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;

  &__underline {
    margin-bottom: 2rem;

    span {
      border-bottom: $dark-main solid 2px;
      padding-bottom: .5rem;
    }
  }

  &__container {
    @include centerFlex;
    justify-content: space-evenly;
    flex-flow: column;
    background-color: rgba($dark-main, 0.35);
    color: $dark-main;
    height: 61.5rem;
    width: 30rem;
    padding: 2rem;
    border-radius: .25rem;
    @include boxShadow;

    @include respond(phone-m-min) {
      height: 65rem;
      width: 32.5rem;
    }

    @include respond(phone-l) {
      height: 65rem;
      width: 35rem;
    }

    @include respond(fourthree) {
      height: 70rem;
      width: 40rem;
    }
  }

  &__details {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;

  }

  &__photo-viewer {
    @include centerFlex;
    text-align: center;
    margin-top: 2rem;

    img {
      height: 40rem;
      width: 30rem;
      border-radius: .25rem;
      margin: 0 2rem;


      @include respond(phone-l) {
        height: 42.5rem;
        width: 35rem;
      }

      @include respond(fourthree) {
        height: 50rem;
        width: 40rem;
      }
    }
  }
}