.about {
  @include centerFlex;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;


  &__container {
    @include centerFlex;
    justify-content: space-evenly;
    flex-flow: column;
    background-color: rgba($dark-main, 0.35);
    color: $dark-main;
    height: 53.5rem;
    width: 30rem;
    padding: 2rem;
    border-radius: .25rem;
    @include boxShadow;

    @include respond(phone-l) {
      height: 57.5rem;
      width: 35rem;
    }

    @include respond(fourthree) {
      height: 80rem;
      width: 55rem;
    }
  }

  &__details {
    font-size: 2.5rem;
    font-weight: 300;

    h3 {
      margin-bottom: 2rem;


      span {
        border-bottom: $dark-main solid 2px;
        padding-bottom: .5rem;
      }
    }
  }

  &__photo-viewer {
    @include centerFlex;
    text-align: center;

    img {
      height: 40rem;
      width: 30rem;
      border-radius: .25rem;
      margin: 0 2rem;


      @include respond(phone-l) {
        height: 42.5rem;
        width: 35rem;
      }

      @include respond(fourthree) {
        height: 65rem;
        width: 50rem;
      }
    }
  }
}