.header {
  @include centerFlex;
  flex-flow: column;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba($black, 0.8),
      rgba($black, 0.8)),
    url('../../resources/img/excavator_main.PNG');
  @include fixedBG;
  text-align: center;
  overflow: hidden;
  z-index: 0;

  @include respond(tab-max) {
    background-attachment: local;
  }

  &__title {
    @include fixedCenter;
    top: 33%;

    &-title {
      word-wrap: normal;
    }
  }

  a {
    transition: all .2s;
  }

  a:link,
  a:visited {
    @include linkStyle-link-visited;
    border-bottom: none;
  }

  a:active,
  a:hover {
    color: $olive-main;

  }

  &__cta {
    @include fixedCenter;
    top: 87.5%;
    text-align: center;
  }
}