.navigation {
  position: relative;
  font-size: 1.75rem;

  &__container {
    display: grid;
    padding: .5rem;
    height: 2.5rem;
    width: 100%;
    background-image: linear-gradient(120deg,
        $olive-secondary, $green-main);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    z-index: 1000;
  }

  &__logo {
    margin-left: 1rem;
  }

  &__links {
    font-size: 1.5rem;
    @include centerFlex;
    column-gap: 2rem;
    margin-right: 2rem;

    a {
      transition: all .2s;
    }

    a:link,
    a:visited {
      @include linkStyle-link-visited;
    }

    a:active,
    a:hover {
      @include linkStyle-active-hover;
    }

  }
}