.navigation {
  display: grid;
  font-size: 1.5rem;
  padding: .5rem;
  background-image: linear-gradient(120deg, $olive-secondary, $green-main);
  height: 5vh;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-left: 1rem;
  }

  &__links {
    @include centerFlex;
    column-gap: 1rem;
    margin-right: 1rem;

    a {
      transition: all .2s;
    }

    a:link,
    a:visited {
      @include linkStyle-link-visited;
    }

    a:active,
    a:hover {
      @include linkStyle-active-hover;
    }

  }
}